# Watchlist example notebook

Here we will do a xmatch against a list of positions in the sky, given in the file ```watchlist.csv```

In [1]:
import pandas as pd
import psycopg2

# Get credentials to open a direct connection with the database

In [2]:
import json
# use the location of your credentials file here
credentials_file = "/home/fforster/Dropbox/Work/alercebroker/usecases/alercereaduser_v4.json"
with open(credentials_file) as jsonfile:
    params = json.load(jsonfile)["params"]

In [3]:
conn = psycopg2.connect(dbname=params["dbname"], user=params["user"], host=params["host"], password=params["password"])

# Get watchlist of objects

In [4]:
df = pd.read_csv("data/watchlist.csv")
df.head()

  id_source          ra        dec
0  source_1  160.183014  33.016467
1  source_2  174.215249  44.837895

# Prepare the query string

In [5]:
objects = []
for _,row in df.iterrows():
    objects.append(f"(\'{row.id_source}\', {row.ra}, {row.dec})")
objects_str = ",\n".join(objects)
objects_str

"('source_1', 160.18301441363647, 33.0164673528409),\n('source_2', 174.21524897555543, 44.83789535222221)"

Create query string

In [25]:
search_radius = 0.1 # degrees
query = """
/* First we create the catalog maybe a batch of 1000 objects would be fine? this can be tested
 * The column names oid, ra, dec can be changed but ra and dec has to be in degrees
*/
WITH catalog ( source_id, ra, dec) AS (
    VALUES
        {values}
)
/* Then we do the select on object (o) and the new catalog (c), the oid for reference and q3c_dist will calculate
 * the distance, maybe this is expensive, but its useful when we want xmatches and we can filter in the application
 */
SELECT c.source_id, c.ra, c.dec, o.oid, o.meanra, o.meandec, q3c_dist(c.ra,c.dec,o.meanra,o.meandec) FROM object o, catalog c
/*
 * Then we do the join REALLY important first use the catalog then the object ra,dec. Don't know but the
 * index is designed that way, if you use other order the query is slooooow. Oh the radius is in degrees too
 */
WHERE q3c_join(c.ra, c.dec,o.meanra, o.meandec, {radius});
"""
query_str = query.format(values = objects_str, radius = search_radius) # radius in degrees

# Send the query and get crossmatching objects

In [26]:
matches = pd.read_sql(query_str,conn)
print(matches.shape)
matches

(42, 7)

,source_id,ra,dec,oid,meanra,meandec,q3c_dist
0,source_1,160.183014,33.016467,ZTF19aamrxbe,160.240176,33.017146,0.047935
1,source_1,160.183014,33.016467,ZTF19aarfifa,160.282983,32.986167,0.089147
2,source_1,160.183014,33.016467,ZTF20aclohyy,160.168704,33.110273,0.094569
3,source_1,160.183014,33.016467,ZTF20aavpqcf,160.161957,33.051647,0.039360
4,source_1,160.183014,33.016467,ZTF20aautebl,160.190299,33.066016,0.049923
5,source_1,160.183014,33.016467,ZTF19aapkzdk,160.110367,33.061357,0.075657
6,source_1,160.183014,33.016467,ZTF20aazfsjx,160.107502,32.987710,0.069552
7,source_1,160.183014,33.016467,ZTF19aavwgwh,160.118010,33.009265,0.054983
8,source_1,160.183014,33.016467,ZTF20aautebo,160.129415,33.044041,0.052722
9,source_1,160.183014,33.016467,ZTF20aakqkbh,160.167313,32.999504,0.021474
10,source_1,160.183014,33.016467,ZTF19aauhfrf,160.135932,32.954164,0.073766
11,source_1,160.183014,33.016467,ZTF19acokoej,160.271092,33.077941,0.096071
12,source_1,160.183014,33.016467,ZTF20aaemxzy,160.143497,33.066509,0.060013
13,source_1,160.183014,33.016467,ZTF20aamjuzv,160.102054,33.047941,0.074816
14,source_1,160.183014,33.016467,ZTF19aauhfrd,160.163151,33.088218,0.073657
15,source_1,160.183014,33.016467,ZTF20aaenjat,160.142436,33.068574,0.062227
16,source_1,160.183014,33.016467,ZTF20aaurxby,160.196587,33.083717,0.068205
17,source_1,160.183014,33.016467,ZTF20aaojibb,160.157879,32.948304,0.071350
18,source_1,160.183014,33.016467,ZTF18aaacsup,160.183005,33.016503,0.000036
19,source_1,160.183014,33.016467,ZTF20aakqsbg,160.160850,33.002108,0.023487
20,source_1,160.183014,33.016467,ZTF21aaiprra,160.129122,32.944031,0.085386
21,source_1,160.183014,33.016467,ZTF21aaiqhpg,160.126362,32.949725,0.081932
22,source_1,160.183014,33.016467,ZTF21aarnfdg,160.162504,33.111160,0.096240
23,source_2,174.215249,44.837895,ZTF20abatchx,174.302825,44.844561,0.062454
24,source_2,174.215249,44.837895,ZTF20aadckyb,174.296637,44.758480,0.098194
25,source_2,174.215249,44.837895,ZTF19adaklaz,174.287716,44.765437,0.088849
26,source_2,174.215249,44.837895,ZTF18aaqkhxw,174.156096,44.892514,0.068855
27,source_2,174.215249,44.837895,ZTF19aadegdx,174.173770,44.797149,0.050260
28,source_2,174.215249,44.837895,ZTF18aaapcpn,174.122028,44.821169,0.068196
29,source_2,174.215249,44.837895,ZTF19aaoaloj,174.097196,44.888784,0.097934
30,source_2,174.215249,44.837895,ZTF19adakdax,174.282623,44.765534,0.086727
31,source_2,174.215249,44.837895,ZTF20aaemvok,174.299972,44.758427,0.099647
32,source_2,174.215249,44.837895,ZTF20aaxzbvk,174.227318,44.816778,0.022786
33,source_2,174.215249,44.837895,ZTF20aaayuzj,174.290683,44.761693,0.093122
34,source_2,174.215249,44.837895,ZTF20aaawsrd,174.288823,44.758388,0.095116
35,source_2,174.215249,44.837895,ZTF19adajnet,174.286451,44.763909,0.089590
36,source_2,174.215249,44.837895,ZTF20aazrpqs,174.167969,44.923589,0.092010
37,source_2,174.215249,44.837895,ZTF19aasaqvk,174.245765,44.914523,0.079621
38,source_2,174.215249,44.837895,ZTF19adceagh,174.284635,44.763861,0.088910
39,source_2,174.215249,44.837895,ZTF20aadcshi,174.294953,44.759749,0.096465
40,source_2,174.215249,44.837895,ZTF19aadgdgf,174.169789,44.806276,0.045161
41,source_2,174.215249,44.837895,ZTF18aaapcut,174.215222,44.837861,0.000039