In [1]:
import pandas
import numpy as np
from ztf_pipeline.db import DBClient

Get credentials (not from github repository!)

In [2]:
import json
with open("../alerceuser.json") as jsonfile:
    params = json.load(jsonfile)["params"]

DB Client

In [3]:
#DBClient
client = DBClient(params)
client.connect()

Query data

In [4]:
query = "select * from detections limit 100"
client.execute(query)
result = client.fetchall()
client.close()

Convert to dataframe

In [5]:
df = pandas.DataFrame(np.array(result))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,520400050515015050,ZTF18aayeqaa,58274.4,1,20.7201,19.1307,19.1307,0.0959,0.0959,294.095,...,0.898292,639,5,21.474,0.15,0.283333,19.012,19.012,0.0873606,0.0873606
1,528393990515015050,ZTF18aayeqaa,58282.4,1,20.9428,19.3859,19.3859,0.1005,0.1005,294.095,...,0.898292,639,5,21.474,0.15,0.293333,19.2378,19.2378,0.0897474,0.0897474
2,529403370515015033,ZTF18aayeqaa,58283.4,1,21.0718,19.2539,19.2539,0.0795,0.0795,294.095,...,0.898292,639,5,21.474,0.15,0.353333,19.1218,19.1218,0.0724587,0.0724587
3,520400050515015040,ZTF18aayeqab,58274.4,1,20.7201,19.1772,19.1772,0.1012,0.1012,293.414,...,0.817208,639,5,18.341,0.015,0.31,19.1772,19.1772,0.1012,0.1012
4,528393990515015038,ZTF18aayeqab,58282.4,1,20.9428,18.8044,18.8044,0.061,0.061,293.414,...,0.817208,639,5,18.341,0.015,0.236667,18.8044,18.8044,0.061,0.061